

.disconnected_overlay{
    border-top: 1px solid #423e3e;
    background: rgb(20,20,20);
    width: 100vw;
    height: calc(100vh - 47px);
    z-index: 10000;
    top: 47px;
    left: 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 24%;
    justify-content: center;
}

#disconnected_overlay_header {
    color: whitesmoke;
}

#disconnected_overlay_subtitle {
    color: steelblue;
}