
.titlebar {
    background: rgb(40,40,40);
    box-shadow: 0px 0px 5px 0.1px black;
    border-bottom: 0.1px solid black;
    position: fixed;
}


.app_title{
    color: grey;
    top: 8px;
    height: 30px;
    position: fixed;
    box-shadow: 0 0 13px 1px rgb(30,30,30) inset;
    padding: 2px;
    padding-left: 20px;
    padding-right: 15px;
    margin-left: 30px;
    left: 0;
}

.xIcon {
    color: red;
    position: absolute;
    right: 10px;
    font-size: 300%;
    top: -4px;
    color: rgb(140,140,140);
    transform: rotateZ(45deg);
    cursor: pointer;
}

.hide_menu{
    position: fixed;
    top: 0px;
    right: 180px;
    z-index: 200000;
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 0.2px 0.5px inset;
    cursor: pointer;
}


.toggle {
    position: fixed;
    top: 0px;
    padding-top: 12px;
    right: 110px;
    z-index: 200000;
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 0.1px 0.8px black inset;
    cursor: pointer;
}

.xBorderBox{
    border:  1px solid black;
    z-index: 1000;
    width: 50px;
    height: 50px;
    right: 35px;
    position: fixed;
}

@keyframes turn_into_x {
    from {
        transform: rotateZ(45deg);
    }
    to {
        transform: rotateZ(90deg);

    }
}
@keyframes turn_out_x {
    from {
        transform: rotateZ(90deg);
    }
    to {
        transform: rotateZ(45deg);
    }
}
