
.titlebar {
    background: rgb(40,40,40);
    box-shadow: 0px 1px 4px 0.5px black;
    border-bottom: 3px solid black;
    position: fixed;
}


.app_title{
    color: grey;
    top: 8px;
    height: 30px;
    position: fixed;
    box-shadow: 0 0 13px 1px rgb(30,30,30) inset;
    padding: 2px;
    padding-left: 20px;
    padding-right: 15px;
    margin-left: 30px;
    left: 0;
}



.holder {
    box-shadow: 0 0 13px 1px rgb(30,30,30) inset;
    pointer-events: none;
    position: absolute;
    width: 130px;
    top: 4px;
    bottom: 4px;
    right: 10px;

}


.xIcon {
    color: red;
    position: absolute;
    right: 25px;
    font-size: 300%;
    top: -4px;
    color: rgb(140,140,140);
    text-shadow: 2px 4px 2px black;
    transform: rotateZ(45deg);
    cursor: pointer;
}

@keyframes turn_into_x {
    from {
        transform: rotateZ(45deg);
    }
    to {
        transform: rotateZ(90deg);

    }
}
@keyframes turn_out_x {
    from {
        transform: rotateZ(90deg);
    }
    to {
        transform: rotateZ(45deg);
    }
}
