.ip_container {
    margin: 30px;
    border:1px solid rgba(0,0,0,0.3);
    padding: 20px;
}

.ip_address {
    font-size: 30px;
    margin-left: 20px;
    color: rgb(197, 187, 187);
}

.mac_container {
    margin: 30px;
    border:1px solid rgba(0,0,0,0.3);
    padding: 20px;
}

.mac_address {
    font-size: 30px;
    margin-left: 20px;
    color: rgb(197, 187, 187);
}

