

.database_action_bar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    background: darkgrey;
}

.database_action_bar_button {
   border: 1px solid grey !important;
}