h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}
h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
}
p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}
blockquote {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}


pre {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

.app_title{
    color: grey;
    top: 10px;
    position: fixed;
    box-shadow: 0 0 13px 1px rgb(30,30,30) inset;
    padding: 3px;
    margin-left: 25px;
    position: fixed;
    left: 0;
}

.holder {
    position: fixed;
    width: 130px;
    height: 41px;
    top: 4px;
    right: 12px;
    box-shadow: 0 0 13px 1px rgb(30,30,30) inset;
    pointer-events: none;

}


html * {
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;
    background: black;
}



.footer {
    width: 100%;
    height: 10px;
    background: rgb(40,40,40);
    position: fixed;
    z-index: 1000;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 4px black;
    bottom: 0px;

}

.titlebar {
    height: 50px;
    width: 100%;
    top: 0;
    background: rgb(40,40,40);
    position: fixed;
    box-shadow: 0px 0.1px 15px 0.1px black;
    border-bottom: 3px solid black;
    z-index: 100;
}

.grid {
    background: linear-gradient(rgb(60,60,60), rgb(45,45,45));
    height: 95%;
    top: 50px;
    overflow: auto;
    margin-left: 0.5%;
    margin-right: 0.5%;
    border: 1px solid grey;
    z-index: 1;
}


.overlay {
    width: 100vw;
    height: 95vh;
    z-index: 1;
    position: absolute;
    opacity: 0.98;
    overflow: hidden;
    margin: 0;
    padding: 0;
    top: 0vh;
    opacity: 0;
    background: blue;

}

@keyframes gridinedit {
    from {
        box-shadow: none;

    }
    to {
        box-shadow: 0px -40px 50px -50px rgb(40,40,100) inset;
        border: 1px solid rgb(90,90,255);
    }
}

@keyframes gridoutedit {
    from {
        box-shadow: 0px -10px 50px -10px rgb(40,40,100) inset;

    }
    to {
        box-shadow: none;

    }
}

.xIcon {
    color: red;
    position: fixed;
    right: 25px;
    font-size: 300%;
    top: -4px;
    color: rgb(140,140,180);
    text-shadow: 2px 4px 2px black;
    transform: rotateZ(45deg);
    cursor: pointer;

}


.lockIconDivet {
    z-index: 2;
    position: fixed;
    right: 90px;
    font-size: 300%;
    width: 30px;
    height: 28px;
    border: 1px solid rgb(40,40,40);
    top:10px;
    cursor: pointer;
    box-shadow: 0px 0px 15px 1px black inset;
    pointer-events: bounding-box;
}


.xIconDivet {

    background: grey;
    position: fixed;
    right: 90px;
    font-size: 300%;
    width: 32px;
    height: 15px;
    top: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px  black inset;
    z-index: 3;
}

@keyframes lock {
    from {
        top: 30px;
    }
    to {
        top: 10px;
    }
}
@keyframes unlock {
    from {
        top: 10px;
    }
    to {
        top: 30px;
        background: blue;
    }
}


@keyframes turn_into_x {
    from {
        transform: rotateZ(45deg);
    }
    to {
        transform: rotateZ(90deg);

    }
}
@keyframes turn_out_x {
    from {
        transform: rotateZ(90deg);
    }
    to {
        transform: rotateZ(45deg);
    }
}

@keyframes fade_in {
    0%   {
        top: -90vh;
        background: blue;
        opacity: 1;
        z-index: 10;
    }
    100% {
        top: 50px;
        opacity: 0.98;
        z-index: 10;
    }
}
@keyframes fade_out {
    0%   {
        top: 5px;
        background: blue;
        opacity: 1;
        z-index: 10;

    }
    100% {
        top: -90vh;
        opacity: 0.98;
        z-index: 0;

    }
}

