
.slidertile {
    left: 35%;
    height: 80%;
    top: 5%;
    position: absolute;

}

.low {
    font-size: 200%;

}

.high {
    font-size: 200%;
    top: 0;
    position: fixed;
}


.mqtt_slider_overlay {
    background: rgb(40, 40, 40);
    height: 100%;
    padding: 20%;
}


.mqtt_display {
    font-size: 120%;
    position: fixed;
    color: rgb(170,170,170);
    font-family: Arial;
}


.mqtt_slider_overlay_text {
    font-size: 120%;
    position: fixed;
    color: rgb(170,170,170);
    font-family: Arial;
}