
.menu {
    background: linear-gradient(rgb(50,50,50),rgb(45,45,45));
    box-shadow: 0 0 4px 1px rgb(30,30,30) inset;
    overflow-y: auto;
}


.min_menu {
    width: 51px;
    height: 94%;
    position: fixed;
    left: 5px;;
    top: 0;
    top: 55px;
    z-index:600;
    background: linear-gradient(rgb(50,50,50),rgb(45,45,45));
    box-shadow: 0 0 4px 1px rgb(30,30,30) inset;
}


.liname {
    font-size: 110%;
    font-family: Arial;
    color: rgb(180,180,180);
    padding: 5px;
    overflow-x: hidden;
}