
.menu {
    background: linear-gradient(rgb(50,50,50),rgb(45,45,45));
    box-shadow: 0 0 4px 1px rgb(30,30,30) inset;
    overflow-y: auto;
}


.liname {
    font-size: 110%;
    font-family: Arial;
    color: rgb(180,180,180);
    padding: 5px;
    overflow-x: hidden;
}