
.grid {
    background: linear-gradient(rgb(60,60,60), rgb(45,45,45));
    overflow: auto;
    border: 3px solid rgb(60,60,60);
    padding-left: 1%;
    padding-right: 1%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


.grid_background {
    background: black;
    overflow: auto;
    border: 3px solid rgb(60,60,60);
    padding-left: 1%;
    padding-right: 1%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


@keyframes grid_slide {
    to {
        top: 95vh;
    }
}

@keyframes grid_slide_out {
    from {
        top: 95vh;
    }
}

@keyframes gridinedit {
    from {
        box-shadow: none;

    }
    to {
        box-shadow: 0px -40px 50px -50px rgb(40,40,100) inset;
    }
}

@keyframes gridoutedit {
    from {
        box-shadow: 0px -10px 50px -10px rgb(40,40,100) inset;

    }
    to {
        box-shadow: none;

    }
}