
.system_actions_outer {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.system_actions_title{
    box-shadow: 0px 0px 0px 1px rgb(40,40,40) inset;
    background: rgba(60,60,60,0.8);
    color: white;
}

.system_actions_inner{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgb(30,30,30);
}

.system_actions_inner::-webkit-scrollbar {
    width: 8px;
}

.system_actions_inner::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.system_actions_inner::-webkit-scrollbar-thumb {

    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
