.tiles_thermometer{
    height: 100%;
    width: 100%;
    background: rgb(60,50,50);
    border: 1px solid rgb(30,30,30);
    overflow: hidden;

}

.number {
    position: absolute;
    top: 20%;
    left: 30%;
    font-size: 200%;
    text-shadow: 1px 1px 2px black;
    right: 30%;
    color: rgb(80,80,80);
}


.temp {
    background: rgb(40, 40, 40);
    height: 100%;
    padding: 20%;
}


.mqtt_display {
    font-size: 120%;
    position: fixed;
    color: rgb(170,170,170);
    font-family: Arial;
}