
.tiles_thermometer{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(20,20,20);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 1px 4px black;
    overflow: hidden;

}

.number {
    font-size: 250%;
    font-color:#22598;
}

.title {
    color: rgba(255, 255, 255, 0.9);
    font-size: 150%;
    font-family: Helvetica;
}


