.SavedUser {
    backgruund: red;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center

}

.SavedUser:hover {
    color: whitesmoke;
    font-size: 120%;
    border: 1px solid white !important;
    color: white !important;
    zIndex: 10000 !important;
}