.quick_options_outer{
    height: 52px;
    display: flex;
    align-items: center;
    padding: 28px;
    background: rgb(60,60,60);
}

.quick_options_button{
    background: rgb(50,50,50) !important;
    color: white !important;
}