

.condition_overlay {
    background: #282828;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40%;
}



.play_toggle{
    float: left;
    position: fixed;
    right: 30px;
    width: 50px;
    box-shadow: 0px 0px 10px 1px #393939;
}