.overlay {
    z-index: 1;
    position: absolute;
    overflow: hidden;
    left: 230px;
    right: 20px;
    padding: 0;
    opacity: 1;
    background: linear-gradient( rgb(220,220,220), rgb(200,200,200), rgb(230,230,230));
    border: 1px solid black;
}

@keyframes fade_in {
    0%   {
        top: -90vh;
        bottom: calc(100vh - 50px);
    }
    100% {
        top: 50px;
        bottom: 0;
    }
}
@keyframes fade_out {
    0%   {
        top: 50px;
        bottom: 0;
    }
    100% {
        top: -90vh;
        bottom: calc(100vh - 50px);
    }
}

@keyframes fade_in_mobile {
    0%   {
        top: -90vh;
        bottom: calc(100vh - 50px);
    }
    100% {
        top: 50px;
        bottom: 6vh;
    }
}
@keyframes fade_out_mobile {
    0%   {
        top: 50px;
        bottom: 6vh;
    }
    100% {
        top: -90vh;
        bottom: calc(100vh - 50px);
    }
}
