.programming_actions_outer{
    flex-grow: 1;
    margin: 18px;
    overflow: auto;
}
.programming_action{
    color: white;
    padding: 18px;
    margin: 8px;
    font-size: 18px;
    font-family: monospace;
}

.programming_action_topic {
    color: steelblue;

}

.programming_action_value {
}