
.drawer_main_panel {
    width: 260px;
    background: rgb(30,30,30) !important;
    color: whitesmoke !important;
    position: absolute !important;
    z-index: 0 !important;
}

.drawer_upload_button {
    color: steelblue !important;
}