.selectable_types_outer{
    border-right: 1px solid black;
    width: 240px;
    flex-grow: 1;
}

.selectable_type{
    color: whitesmoke !important;
}

.selectable_type:hover{
    color: lightsteelblue !important;
}