
#generic_overlay {
    height: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #282828;
}

#generic_overlay_title {
    display: inline;
    cursor: pointer;
    padding-right: 120px;
}

#generic_overlay_top {
    width: 100%;
    background: rgb(40,40,40);
    height: 60px;
    font-size: 140%;
    padding-left: 30px;
    color: rgb(160,160,160);
    border-bottom: 1px solid rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    position: relative;
}